## Simple linear regression on the dataset

In [36]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd

#### Import the dataset

In [37]:
data = pd.read_csv('./../data/regions_cleaned_with_diff_shifted_cci.csv')
data.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,collection,osm_id,cci_id,date,cci,weekday,...,latitudes,longitudes,group_ids,event,max_temp,mean_temp,mean_wind_speed,min_temp,total_prep,diff_nearest_clean
0,0,0,0,16540,places,1175169794,255.0,2019-04-09 8:58:12,4.557640,1,...,47.567511,7.598014,57,1,14.1,9.137500,1.495833,6.0,0.0,NaN
1,1,1,1,16562,places,1175169794,255.0,2019-04-26 12:27:06,4.384448,4,...,47.567511,7.598014,57,1,13.0,9.016667,1.904167,6.7,8.7,1.0
2,2,2,2,16576,places,1175169794,255.0,2019-04-29 12:39:59,4.707982,0,...,47.567511,7.598014,57,0,10.9,7.166667,0.962500,2.4,0.0,0.0
3,3,3,3,16592,places,1175169794,255.0,2019-05-01 7:03:52,4.384448,2,...,47.567511,7.598014,57,0,19.0,11.516667,1.262500,3.0,0.0,NaN
4,4,4,4,16625,places,1175169794,255.0,2019-05-03 16:34:28,4.659527,4,...,47.567511,7.598014,57,0,13.8,9.970833,1.791667,8.1,4.6,1.0

### Using required features

In [38]:
DROP_ROWS = 0
# my_features = ['diff_nearest_clean']

my_features = ['day_type','latitudes','latitudes','mean_temp','total_prep']
my_features_df = data[my_features].copy(deep=True)
## Drop the last three in my_features_df
# my_features_df = my_features_df.iloc[:-DROP_ROWS]
my_features_df.drop(my_features_df.tail(DROP_ROWS).index,inplace=True) # drop last DROP_ROWS 
# my_features_df.tail()

test_feature = 'cci'
test_feature_df = data[test_feature].copy(deep=True)
test_feature_df.drop(my_features_df.head(DROP_ROWS).index,inplace=True) # drop last DROP_ROWS 
# test_feature_df.drop(test_feature_df.index[0:DROP_ROWS],inplace=True)
test_feature_df = test_feature_df.rename(index = lambda x: x-DROP_ROWS) 
test_feature_df.head()

0    4.557640
1    4.384448
2    4.707982
3    4.384448
4    4.659527
Name: cci, dtype: float64

In [39]:
combined_df = pd.concat([my_features_df, test_feature_df], axis=1, ignore_index=False)
combined_df = combined_df.fillna(-1).copy()
# combined_df.tail()

In [32]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

train_data, test_data = train_test_split(combined_df, test_size=0.2)

In [33]:
train_X = train_data[my_features]
train_X = preprocessing.scale(train_X)

train_Y = train_data[test_feature]

test_X = test_data[my_features]
test_X = preprocessing.scale(test_X)

test_Y = test_data[test_feature]

In [34]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(train_X, train_Y)

# Make predictions using the testing set
test_pred = regr.predict(test_X)

In [35]:

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(test_Y, test_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(test_Y, test_pred))

# Plot outputs
# plt.scatter(test_data[['day_type','months']], test_data['cci'],  color='black')
# plt.plot(test_data[['day_type','months']], test_pred, color='blue', linewidth=3)

# plt.xticks(())
# plt.yticks(())

# plt.show()

Coefficients:
 [ 0.03524138  0.00461116  0.00461116  0.00461116  0.00461116 -0.10761924
 -0.0298989 ]
Mean squared error: 0.50
Variance score: 0.02