## Import the sweeper data

In [6]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd

In [7]:
sweeper_data = pd.read_csv('./../data/2019-09-28-basel-sweeper-routes.csv')
sweeper_data.head()

      osm_id cci_id                 date
0  983964215    251  2019-04-23 11:46:11
1  983964215    251  2019-04-24 11:08:58
2  983964215    251   2019-04-25 7:22:24
3  983964215    251   2019-04-25 6:48:11
4  983964215    251  2019-04-29 11:06:12

In [8]:
orig_data = pd.read_csv('./../data/clean_datav4.csv')
orig_data.head()

,Unnamed: 0,collection,osm_id,cci_id,date,cci,weekday,day_type,days,months,...,geometry,latitudes,longitudes,group_ids,event,max_temp,mean_temp,mean_wind_speed,min_temp,total_prep
0,0,places,1146125838,NaN,2019-04-12 9:44:29,4.594584,4,0,12,4,...,0,47.539013,7.596727,51,1,12.4,6.387500,2.025000,1.6,0.0
1,1,places,1146125838,NaN,2019-04-24 9:06:34,4.510442,2,0,24,4,...,0,47.539013,7.596727,51,0,25.1,13.450000,1.987500,7.9,6.2
2,2,places,1146125838,NaN,2019-04-26 13:35:55,4.511460,4,0,26,4,...,0,47.539013,7.596727,51,0,13.0,9.016667,1.904167,6.7,8.7
3,3,places,1146125838,NaN,2019-05-14 6:55:01,3.571802,1,0,14,5,...,0,47.539013,7.596727,51,1,16.6,10.870833,3.041667,3.3,0.0
4,4,places,1146125838,NaN,2019-06-03 14:41:12,4.592128,0,0,3,6,...,0,47.539013,7.596727,51,1,27.9,22.179167,1.666667,16.6,0.1

## Look for the osm_id and cci_id from sweeper in the orig_data

In [13]:
completed_ids = set()
for index, row in sweeper_data.iterrows():
    my_tuple = (str(row['osm_id']),str(row['cci_id']))
    if my_tuple not in completed_ids:
        completed_ids.add(my_tuple)

In [ ]:
completed_ids

In [58]:
list_dataframes = []
## Iterate over the completed ids
for completed_id in completed_ids:
    temp_df = orig_data[orig_data['osm_id'].astype(str).str.contains(completed_id[0])]
    
    temp_temp_df = temp_df[temp_df['cci_id'].astype(str).str.contains(completed_id[1])]
    if not temp_temp_df.empty:
        # print(temp_temp_df)
        list_dataframes.append(temp_temp_df)

In [60]:
len(list_dataframes)

45

In [62]:
my_final_df = pd.concat(list_dataframes, ignore_index=True)

In [64]:
my_final_df.to_csv('regions_cleaned.csv')