## Simple linear regression on the dataset

In [2]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd

#### Import the dataset

In [23]:
data = pd.read_csv('clean_datav4_fixed_cci.csv')
data.head()

,Unnamed: 0,Unnamed: 0.1,collection,osm_id,cci_id,date,cci,weekday,day_type,days,...,geometry,latitudes,longitudes,group_ids,event,max_temp,mean_temp,mean_wind_speed,min_temp,total_prep
0,0,0,places,1146125838,NaN,2019-04-12 9:44:29,4.510442,4,0,12,...,0,47.539013,7.596727,51,1,12.4,6.387500,2.025000,1.6,0.0
1,1,1,places,1146125838,NaN,2019-04-24 9:06:34,4.511460,2,0,24,...,0,47.539013,7.596727,51,0,25.1,13.450000,1.987500,7.9,6.2
2,2,2,places,1146125838,NaN,2019-04-26 13:35:55,3.571802,4,0,26,...,0,47.539013,7.596727,51,0,13.0,9.016667,1.904167,6.7,8.7
3,3,3,places,1146125838,NaN,2019-05-14 6:55:01,4.592128,1,0,14,...,0,47.539013,7.596727,51,1,16.6,10.870833,3.041667,3.3,0.0
4,4,4,places,1146125838,NaN,2019-06-03 14:41:12,4.399377,0,0,3,...,0,47.539013,7.596727,51,1,27.9,22.179167,1.666667,16.6,0.1

### Using required features

In [30]:
DROP_ROWS = 0
# my_features = ['diff_nearest_clean']

my_features = ['day_type','latitudes','latitudes','mean_temp','total_prep']
my_features_df = data[my_features].copy(deep=True)
## Drop the last three in my_features_df
# my_features_df = my_features_df.iloc[:-DROP_ROWS]
my_features_df.drop(my_features_df.tail(DROP_ROWS).index,inplace=True) # drop last DROP_ROWS 
# my_features_df.tail()

test_feature = 'cci'
test_feature_df = data[test_feature].copy(deep=True)
test_feature_df.drop(my_features_df.head(DROP_ROWS).index,inplace=True) # drop last DROP_ROWS 
# test_feature_df.drop(test_feature_df.index[0:DROP_ROWS],inplace=True)
test_feature_df = test_feature_df.rename(index = lambda x: x-DROP_ROWS) 
test_feature_df.head()

0    4.510442
1    4.511460
2    3.571802
3    4.592128
4    4.399377
Name: cci, dtype: float64

In [31]:
combined_df = pd.concat([my_features_df, test_feature_df], axis=1, ignore_index=False)
combined_df = combined_df.fillna(-1).copy()
# combined_df.tail()

In [32]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

train_data, test_data = train_test_split(combined_df, test_size=0.2)

In [33]:
train_X = train_data[my_features]
train_X = preprocessing.scale(train_X)

train_Y = train_data[test_feature]

test_X = test_data[my_features]
test_X = preprocessing.scale(test_X)

test_Y = test_data[test_feature]

In [34]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(train_X, train_Y)

# Make predictions using the testing set
test_pred = regr.predict(test_X)

In [35]:

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(test_Y, test_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(test_Y, test_pred))

# Plot outputs
# plt.scatter(test_data[['day_type','months']], test_data['cci'],  color='black')
# plt.plot(test_data[['day_type','months']], test_pred, color='blue', linewidth=3)

# plt.xticks(())
# plt.yticks(())

# plt.show()

Coefficients:
 [ 0.03524138  0.00461116  0.00461116  0.00461116  0.00461116 -0.10761924
 -0.0298989 ]
Mean squared error: 0.50
Variance score: 0.02