## Simple linear regression on the dataset

In [39]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd

#### Import the dataset

In [40]:
data = pd.read_csv('./../data/clean_datav4.csv')
data.head()

,Unnamed: 0,collection,osm_id,cci_id,date,cci,weekday,day_type,days,months,...,geometry,latitudes,longitudes,group_ids,event,max_temp,mean_temp,mean_wind_speed,min_temp,total_prep
0,0,places,1146125838,NaN,2019-04-12 9:44:29,4.594584,4,0,12,4,...,0,47.539013,7.596727,51,1,12.4,6.387500,2.025000,1.6,0.0
1,1,places,1146125838,NaN,2019-04-24 9:06:34,4.510442,2,0,24,4,...,0,47.539013,7.596727,51,0,25.1,13.450000,1.987500,7.9,6.2
2,2,places,1146125838,NaN,2019-04-26 13:35:55,4.511460,4,0,26,4,...,0,47.539013,7.596727,51,0,13.0,9.016667,1.904167,6.7,8.7
3,3,places,1146125838,NaN,2019-05-14 6:55:01,3.571802,1,0,14,5,...,0,47.539013,7.596727,51,1,16.6,10.870833,3.041667,3.3,0.0
4,4,places,1146125838,NaN,2019-06-03 14:41:12,4.592128,0,0,3,6,...,0,47.539013,7.596727,51,1,27.9,22.179167,1.666667,16.6,0.1

### Using only one feature -> day i.e. weekday, weekend or holiday

In [46]:
my_features = ['day_type','months','group_ids','max_temp','mean_temp','mean_wind_speed','min_temp','total_prep']
test_feature = 'cci'
overall_features = my_features.copy()
overall_features.append(test_feature)
print(overall_features)
combined_df = data[overall_features]
combined_df.head()
# len(my_features)
# msk = np.random.rand(len(my_features)) < 0.8
# train_data = data[msk]
# test_data = data[~msk]

['day_type', 'months', 'group_ids', 'max_temp', 'mean_temp', 'mean_wind_speed', 'min_temp', 'total_prep', 'cci']

,day_type,months,group_ids,max_temp,mean_temp,mean_wind_speed,min_temp,total_prep,cci
0,0,4,51,12.4,6.387500,2.025000,1.6,0.0,4.594584
1,0,4,51,25.1,13.450000,1.987500,7.9,6.2,4.510442
2,0,4,51,13.0,9.016667,1.904167,6.7,8.7,4.511460
3,0,5,51,16.6,10.870833,3.041667,3.3,0.0,3.571802
4,0,6,51,27.9,22.179167,1.666667,16.6,0.1,4.592128

In [47]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing


train_data, test_data = train_test_split(combined_df, test_size=0.2)

train_X = train_data[my_features]
train_X = preprocessing.scale(train_X)

train_Y = train_data[test_feature]

test_X = test_data[my_features]
test_X = preprocessing.scale(test_X)

test_Y = test_data[test_feature]

In [48]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(train_X, train_Y)

# Make predictions using the testing set
test_pred = regr.predict(test_X)

In [49]:

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(test_Y, test_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(test_Y, test_pred))

# Plot outputs
# plt.scatter(test_data[['day_type','months']], test_data['cci'],  color='black')
# plt.plot(test_data[['day_type','months']], test_pred, color='blue', linewidth=3)

# plt.xticks(())
# plt.yticks(())

# plt.show()

Coefficients:
 [ 0.00714959 -0.15383245 -0.01253697 -0.19294426  0.36275833  0.05401634
 -0.20320109 -0.03706403]
Mean squared error: 0.46
Variance score: 0.08