## Load the test data

In [4]:
import pandas as pd
data_f = pd.read_csv('./../data/clean_datav6.csv')
data_f.head()

,Unnamed: 0,Unnamed: 0.1,collection,osm_id,cci_id,date,cci,weekday,day_type,days,...,longitudes,group_ids,event,max_temp,mean_temp,mean_wind_speed,min_temp,total_prep,comb_ids,group_ids_2
0,0,0,places,1146125838,NaN,2019-04-12 9:44:29,4.594584,4,0,12,...,7.596727,51,1,12.4,6.387500,2.025000,1.6,0.0,1146125838_nan,51
1,1,1,places,1146125838,NaN,2019-04-24 9:06:34,4.510442,2,0,24,...,7.596727,51,0,25.1,13.450000,1.987500,7.9,6.2,1146125838_nan,51
2,2,2,places,1146125838,NaN,2019-04-26 13:35:55,4.511460,4,0,26,...,7.596727,51,0,13.0,9.016667,1.904167,6.7,8.7,1146125838_nan,51
3,3,3,places,1146125838,NaN,2019-05-14 6:55:01,3.571802,1,0,14,...,7.596727,51,1,16.6,10.870833,3.041667,3.3,0.0,1146125838_nan,51
4,4,4,places,1146125838,NaN,2019-06-03 14:41:12,4.592128,0,0,3,...,7.596727,51,1,27.9,22.179167,1.666667,16.6,0.1,1146125838_nan,51

In [ ]:
features = ['mean_temp','total_prep','latitudes','longitudes','event','year','month','day','average']
features_df = data_f[features].copy(deep=True)

test_feature = 'cci' ## We want to predict the cci
labels = data_f[test_feature].copy(deep=True) 
# One-hot encode the data using pandas get_dummies
weekday = pd.get_dummies(data_f['weekday'])

all_features_df = pd.concat([weekday, data_f[features].copy(deep=True)], axis=1, ignore_index=False)

test_features =

In [ ]:
# load the model from disk
filename = 'finalized_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))
result = rf.predict(test_features)
print(result)